/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
}
header {
  background: #686767;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
}
header a {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins";
}
